# Build artifacts
bin/
obj/
out/
.vs/
*.log

# User-specific files
.vscode/
*.user
*.suo

# Dotnet secrets
secrets.json

# OS files
.DS_Store
Thumbs.db

# Rider / JetBrains
.idea/
*.sln.iml

# Docker
docker/sqlserver/data/
docker-compose.override.yml

# Others
*.db
*.db-shm
*.db-wal
